Question 1

Two values are True and False

In [ ]:
True 
False

Question 2

Three different types of boolean operator are and , or , not

Question 3

and table:-

false | false | false
false | true | false
true | false | false
true | true | true


or table:-

false | false | false
false | true | true
true | false | true
true | true | true

not table:-
false | true
true | false

In [3]:
#Question 4

(5 > 4) and (3 == 5)

False

In [4]:
not (5> 4)

False

In [5]:
(5 > 4) or (3 == 5)

True

In [6]:
not ((5 > 4) or (3 == 5))

False

In [7]:
(True and True) and (True == False)

False

In [8]:
(not False) or (not True)

True

Question 5

Comparison operator:-

==
!=
<
>
<=
>=

Question 6

Equal-to operator (==): The equal-to operator is used to compare two values and check if they are equal. It returns a boolean value of True if the values are equal, and False otherwise.

Assignment operator (=): The assignment operator is used to assign a value to a variable. It assigns the value on the right side of the operator to the variable on the left side.

In [11]:
#Question 7

spam = 0
if spam == 10:
    print('egg')
if spam > 5:
    print('bacon')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

In [12]:
#Question 8

spam= input('Enter a number: ')

if spam == 1:
    print('Hello')
if spam ==2:
    print('Howdy')
else:
    print("Greetings")

Enter a number: 3
Greetings

Question 9

We can press ctrl+c to interrupt the kernal to stop the loop.

In [14]:
#Question 10

l= [1,23,42, 'hot', 20]

for i in l:
    if type(i)== str:
        break
    print(i)

1
23
42

In [17]:
for i in l:
    if i== 23:
        continue
    print(i)

1
42
hot
20

In [18]:
#Question 11

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(0,10,1):
    print(i)
    
    
#All three forms generate the same sequence of values and result in the same iteration. The start value of 0 and the default step value of 1 are implied when they are omitted.

0
1
2
3
4
5
6
7
8
9

In [22]:
#Question 12

for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
a,b= 1 , 11

while a<b:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [26]:
#Question 13

import spam 

spam.bacon()